<!doctype html>
<html lang="en" ng-app="oneSourceGetAllApp">

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head 
         content must come *after* these tags -->
    
    <title>oneSource getAll Store</title>     
        <!-- Bootstrap -->
<!-- build:css styles/main.css -->
        
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
    <link href="styles/bootstrap-social/bootstrap-social.css" rel="stylesheet">    
        <!-- endbuild -->
        </head>
    
    <body>
        <div class="container">
    <div class="row" ng-controller="candyDetailController as candyDetailCtrl">
       <div class="col-xs-9 col-xs-offset-1">
            <div class="media">
            <div class="media-left media-middle"><a href="#">
                <img class="media-object img-thumbnail" ng-src={{candyDetailCtrl.candy.image}} alt="Caramels">
                </a></div>
                <div class="media-body">
                <h2 class="media-heading">{{candyDetailCtrl.candy.name}}
                    </h2>
                    <h4><strong>Types :</strong><span>    {{candyDetailCtrl.candy.types}}</span>
                    </h4>
            
                <p>{{candyDetailCtrl.candy.description}}</p>
                  
                </div>
            </div>
        </div> 
            </div>
            <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <label for="search">Search:</label>
                    <input id="search" ng-model="candyNamesCtrl.searchResult" type="text">
                </div>
                </div>    
        <div class="row row-content" ng-controller="candyNamesController as candyNamesCtrl">
        <div class="col-xs-12">
            <ul class="media-list">
            <li class="media" ng-repeat="caramel in candyNamesCtrl.caramels">
                <div class="media-left media-middle"><a href="#">
                    <img class="media-object img-thumbnail" ng-src={{caramel.image}} alt="Caramel">
                    </a>
                </div>
                <div class="media-body">
                <h3 class="media-heading | filter:candyNamesCtrl.searchResult">{{caramel.name}}
                    <span class="badge">{{caramel.price | currency}}</span>
                    <span> {{caramel.quantity}}</span>
                    <span class="label label-success label-xs">{{caramel.availability}}</span>
                    </h3>
                    <p><strong>Ingredients: </strong>  {{caramel.ingredients}}</p>
                    <p><strong>Calories:</strong>  {{caramel.calories}}</p>
                    <p><strong>Fat:</strong> {{caramel.fat}}</p>
                    <p><strong>Cholestrol:</strong>  {{caramel.cholestrol}}</p>
                </div>
                </li>
            </ul>
            </div>
        </div>
        </div>
        </div>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script>
        var app = angular.module('oneSourceGetAllApp',[]);
        
            app.controller('candyDetailController', function() {
             var candy=
          {
          name:'Caramels',
          image:'images/Caramels.png',
          types:'Caramel Squares, Coffee Rio, Caramel Crunch, Caramel Creams, Jelly Belly Caramel Corn.',          
          description:'Caramels are made by cooking sugar and water together.',
          comment:''
              
          }
        this.candy = candy;     
        });
        
            app.controller('candyNamesController', function() {
                
                this.searchResult = '';
                
                var caramels=[
                {
                    name:'Caramel Squares',
                    image:'images/CaramelSquares.png',
                    price:'16.45',
                    quantity:'4.25 Ounce (pack of 12)',
                    availability:'In Stock',
                    ingredients:'Corn Syrup, Sugar, Skim Milk, Palm Oil, Whey (from milk), Salt, Sulfites, Artificial And Natural Flavor, Soy Lecithin.',
                    calories:'160 cal',
                    fat:'3.5g',
                    cholestrol:'0mg'
                },
                {
                    name:'Coffee Rio',
                    image:'images/CoffeeRio.png',
                    price:'3.48',
                    quantity:'5.5 Ounce bag',
                    availability:'In Stock',
                    ingredients:'Corn Syrup, Sugar, Fresh Dairy Cream, Evaporated Milk, Lightly Hydrogenated Soyabean Oil, Coffee, Salt, Soy Lecithin.',
                    calories:'60 cal',
                    fat:'1.5g',
                    cholestrol:'5mg'
                },
                {
                    name:'Caramel Crunch Bar',
                    image:'images/CaramelCrunch.png',
                    price:'20.70',
                    quantity:'24 bars per bag',
                    availability:'In Stock',
                    ingredients:'Milk Chocolate (Sugar, Cocoa Butter, Milk, Chocolate, Lactose, MilkFat, Soy Lecithin, Vanillin - an artificial flavor), Crisped Rice (Rice, Sugar, Salt, Malt)',
                    calories:'210 cal',
                    fat:'12g',
                    cholestrol:'5mg'
                },
                {
                    name:'Caramel Creams',
                    image:'images/CaramelCreams.png',
                    price:'14.31',
                    quantity:'20 bars per bag',
                    availability:'In Stock',
                    ingredients:'Wheat Flour, Corn Syrup, Sugar, Coconut Oil, High Fructose Corn Syrup, Dextrose, Modified Whey, Skim Milk, Cream, Mono & Diglycerides, Palm Oil, Corn Starch, Salt, Natural & Artificial Flavor, Soy Lecithin.',
                    calories:'140 cal',
                    fat:'3.5g',
                    cholestrol:'0mg'
                },
                {
                    name:'Jelly Belly Caramel Corn',
                    image:'images/JellyBellyCaramelCorn.png',
                    price:'9.49',
                    quantity:'16 Ounce re-sealable bag',
                    availability:'In Stock',
                    ingredients:'Sugar, Corn Syrup, Modified Food Starch, Contains 2% or less of the following: Natural and Artificial Flavors, Color Added, Yellow 6, Yellow 5 & 6 Lake, Blue 2 Lake, Beeswax, Carnauba Wax, Confectioners Glaze, Salt.',
                    calories:'184 cal',
                    fat:'1g',
                    cholestrol:'0mg'
                }];
                
                this.caramels = caramels;
            });
        </script>
    </body>